.backgroundConfirm {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  display: flex;
  z-index: 102;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(170, 165, 165, 0.582);
}

.whiteConfirmContainer {
  width: 100%;

  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  height: 25%;
  border-radius: 10px;
}
/* This one is for the loading when doing post request*/
.loadingContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 25px 45px;
  border-radius: 10px;
  height: 90%;
  border-radius: 10px;
}
.whiteConfirmContainer p {
  font-size: 20px !important;
}
.submitButton {
  background-color: #1db43e;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.submitButton:hover {
  background-color: #31d455;
}
.submitButton:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.confirmBtn {
  padding: 20px;

  margin: 5px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #23887d;
}
.confirmBtn:hover {
  background-color: #38c394;
}
.cancelBtn {
  padding: 20px;

  margin: 5px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #a55d5f;
}
.cancelBtn:hover {
  background-color: #ff0547;
}

.spinner {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .submitButton {
    width: 100%;
    margin: 5px auto;
  }

  .confirmBtn {
    width: 100%;
    padding: 15px;
  }
  .cancelBtn {
    width: 100%;
    padding: 15px;
  }
}
