.productContainer {
  display: flex;
  width: 90%;
  flex: 1;
  margin: 0 auto;
  padding: 5px;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  max-height: 150px;
  padding-bottom: 15px;
}
.productContainer img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 5px;
}
.productContainer p {
  font-size: 12px;
}
.productContainer span {
  font-size: 22px;
  font-weight: 700;
}
.buttonsContainer {
  margin: 5px;

  width: 100%;
  display: flex;
}
.buttonsContainer button {
  height: 50px;
  margin: 5px;
  cursor: pointer;
  display: flex;

  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.approve {
  background-color: #23887d;
}
.approve:hover {
  background-color: #38c394;
}
.disapprove {
  background-color: #ffb0b2;
}
.disapprove:hover {
  background-color: #ff0547;
}
