.containerCombined {
  display: flex;
  width: 100%;
}
.containerGreen {
  display: flex;
  font-size: 10px;
  width: 80% !important;
  flex-direction: column;

  flex: 1 !important;
  padding: 15px;
  background-color: #abf3db;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  border-radius: 10px;
}
.containerRed {
  display: flex;
  font-size: 10px;
  width: 80% !important;
  flex-direction: column;

  flex: 1 !important;
  padding: 15px;
  background-color: #fdcfd1;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  border-radius: 10px;
}
.containerRed h1 {
  font-size: 12px;
  width: 100%;
}
.containerGreen h1 {
  font-size: 12px;
}
.containerGreen img {
  width: 30%;
}
.containerRed img {
  width: 30%;
}

.closeButton {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px !important;
  color: #c57c7e;

  border: 3px solid #c57c7e;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  align-self: flex-end;
}

.closeButton:hover {
  color: #c45054;
}

.success {
  color: green;
  font-weight: 800;
  border: 1px solid green;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  margin: 5px auto;
  width: 100%;
}

.error {
  color: rgb(165, 14, 52);
  font-weight: 800;
  border: 1px solid rgb(165, 14, 52);
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  margin: 5px auto;
  width: 100%;
}
