.NextBtn {
  background-color: #1d59b4;
  border: none;
  outline: none;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
}
.NextBtn:hover {
  background-color: #598ef1;
}
.NextBtn:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.totalSumContainer {
  display: flex;
  width: 80%;
  margin: 5px auto;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid #23887d;
}
